Have you ever heard of {{first-name}} Beard the Pirate? His friends called him Pete, for short.  He'd spent his life {{verb}} the {{adjective}} seas.

When people saw Pete coming they’d scream, "{{verb}} or he’ll put you in a {{noun}}.

Everyone feared Pirate Pete and his pet {{animal}}, called {{pets-name}}.

He didn’t want to be feared though, he just wanted to {{verb}}. To keep people from being scared, they put a pair of {{plural-noun}}
on the a new flag.  The brand new {{colour}} flag flew high in the sky.  People felt a lot less afraid. 

Pirate Pete was finally able to invite people to his ship to have {{food}}
